.validation_error {
  background: pink;
  width: 100%;
  margin-bottom: 10px;
}

.validation_error ul {
  padding: 0px 10px;
  display: inline-block;
}

.validation_error ul li {
  list-style: none;
  padding: 0;
}

*:disabled, .disabled {
  opacity: 0.4;
  pointer-events: none;
}
